/*
    Base styles
*/

:root {
    --primary-red: hsl(0, 78%, 62%);
    --primary-cyan: hsl(180, 62%, 55%);
    --primary-orange: hsl(34, 97%, 64%);
    --primary-blue: hsl(212, 86%, 64%);
    --primary-white: hsl(0, 50%, 100%);
    --neutral-very-dark-blue: hsl(234, 12%, 34%);
    --neutral-grayish-blue: hsl(229, 6%, 66%);
    --neutral-very-light-gray: hsl(0, 0%, 98%);
    --body-font-size: 15px;
}

body {
    font-size: var(--body-font-size);
    margin: 0;
    background-color: var(--primary-white);
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box
}

.container {
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(300px, auto);
}

header {
    align-self: center;
}

.main-content {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(100px, auto);
    gap: 20px;
}

.normal-heading, .bold-heading {
    font-size: 1.5rem;
    text-align: center;
}

div.normal-heading {
    font-weight: 200;
}

div.bold-heading, h2 {
    font-weight: 700;
}


header .pag {
    text-align: center;
    font-size: 1rem;
}

main h2 {
    font-size: 1.2rem;
    margin: 0;
}

.bold-heading,
h2
{
    color: var(--neutral-very-dark-blue)
}

.pag {
    color: var(--neutral-grayish-blue);
    font-size: 0.9rem;
}

.card {
    padding: 20px;
    border-top: 1px solid;
    border-top-width: 3px;
    border-radius: 10px;
    z-index: 400px;
    background-color: var(--primary-white);
    box-shadow: 8px 8px  9px -14px var(--neutral-very-dark-blue), -8px 8px 9px -14px var(--neutral-very-dark-blue),
                0px 8px 9px -14px var(--neutral-very-dark-blue);
}

.supervisor {
    border-top-color: var(--primary-cyan);
}

.team-builder {
    border-top-color: var(--primary-red);
}

.karma {
    border-top-color: var(--primary-orange);
}

.calculator {
    border-top-color: var(--primary-blue);
}

.icon {
    width: 35%;
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 65%;
}

.supervisor .icon {
    background-image: url("../images/icon-supervisor.svg");
}

.team-builder .icon {
    background-image: url("../images/icon-team-builder.svg");
}

.karma .icon {
    background-image: url("../images/icon-karma.svg");
}

.calculator .icon {
    background-image: url("../images/icon-calculator.svg");
}

@media screen and (min-width: 768px) {

    .container {
        row-gap: 70px;
    }

    header {
        width: 50%;
        justify-self: center;
        align-self: flex-end;
        font-size: 1.2rem;
    }
    header .pag {
        font-size: 1.2rem;
    }

    .normal-heading, .bold-heading {
        font-size: 2.5em;
    }

    .main-content {
        grid-template-columns: repeat(3, 1fr);
    }

    .main-content .pag {
        font-size: 1.05rem;
    }

    .supervisor {
        grid-row: span 4;
        align-self: center;
    }

    .calculator {
        grid-row: span 4;
        align-self: center;
    }

    .karma {
        grid-column: 2 / 3;
        grid-row: 3 / 5;
        align-self: flex-start;

    }

    .team-builder {
        grid-row: span 2;
        align-self: flex-end;
    }
}